<router-outlet></router-outlet>
<app-header />
<!-- About Section -->
<div class="about py-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="about_box text-center">
          <figure>
            <img
              [src]="products.thumbnail"
              class="img-fluid rounded"
              alt="Product Image"
            />
          </figure>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="about_box">
          <h3>{{ products.title }}</h3>
          <h5 class="text-danger">Price: ${{ products.price }}</h5>
          <input
            type="number"
            placeholder="Số lượng"
            class="form-control my-3"
          />
          <p>{{ products.description }}</p>
          <button class="btn btn-primary btn-block mt-3">
            Thêm vào giỏ hàng
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Why Choose Us Section -->
<div class="whyschose py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-7 offset-md-3 text-center">
        <div class="title">
          <h2>Why <strong class="black">choose us</strong></h2>
          <span>Fastest repair service with best price!</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="choose_bg py-5">
  <div class="container">
    <div class="white_bg p-4 rounded shadow-sm">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="for_box text-center">
            <i
              ><img
                src="../../../assets/icon/1.png"
                class="img-fluid"
                alt="Data Recovery"
            /></i>
            <h3>Data recovery</h3>
            <p>Perspiciatis eos quos totam cum minima aut.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="for_box text-center">
            <i
              ><img
                src="../../../assets/icon/2.png"
                class="img-fluid"
                alt="Computer Repair"
            /></i>
            <h3>Computer repair</h3>
            <p>Perspiciatis eos quos totam cum minima aut.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="for_box text-center">
            <i
              ><img
                src="../../../assets/icon/3.png"
                class="img-fluid"
                alt="Mobile Service"
            /></i>
            <h3>Mobile service</h3>
            <p>Perspiciatis eos quos totam cum minima aut.</p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-4">
          <div class="for_box text-center">
            <i
              ><img
                src="../../../assets/icon/4.png"
                class="img-fluid"
                alt="Network Solutions"
            /></i>
            <h3>Network solutions</h3>
            <p>Perspiciatis eos quos totam cum minima aut.</p>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <a href="#" class="btn btn-secondary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Service Section -->
<div class="service py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <div class="title">
          <h2>service <strong class="black">process</strong></h2>
          <span>Easy and effective way to get your device repaired.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
        <div class="service-box text-center p-4 border rounded">
          <i
            ><img
              src="../../../assets/icon/service1.png"
              class="img-fluid mb-3"
              alt="Fast Service"
          /></i>
          <h3>Fast service</h3>
          <p>
            Exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea.
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
        <div class="service-box text-center p-4 border rounded">
          <i
            ><img
              src="../../../assets/icon/service2.png"
              class="img-fluid mb-3"
              alt="Secure Payments"
          /></i>
          <h3>Secure payments</h3>
          <p>
            Exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea.
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
        <div class="service-box text-center p-4 border rounded">
          <i
            ><img
              src="../../../assets/icon/service3.png"
              class="img-fluid mb-3"
              alt="Expert Team"
          /></i>
          <h3>Expert team</h3>
          <p>
            Exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea.
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
        <div class="service-box text-center p-4 border rounded">
          <i
            ><img
              src="../../../assets/icon/service4.png"
              class="img-fluid mb-3"
              alt="Affordable Services"
          /></i>
          <h3>Affordable services</h3>
          <p>
            Exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea.
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
        <div class="service-box text-center p-4 border rounded">
          <i
            ><img
              src="../../../assets/icon/service5.png"
              class="img-fluid mb-3"
              alt="90 Days Warranty"
          /></i>
          <h3>90 Days warranty</h3>
          <p>
            Exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea.
          </p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
        <div class="service-box text-center p-4 border rounded">
          <i
            ><img
              src="../../../assets/icon/service6.png"
              class="img-fluid mb-3"
              alt="Award Winning"
          /></i>
          <h3>Award winning</h3>
          <p>
            Exercitation ullamcorper suscipit lobortis nisl ut aliquip ex ea.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />
