<!-- login.component.html -->
<app-header />
<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px">
    <div class="card-body">
      <ng-toast [style]="{ width: '300px' }"></ng-toast>
      <h3 class="card-title text-center mb-4">Đăng Nhập</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mật khẩu</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            required
          />
        </div>

        <button
          routerLink="/login"
          type="submit"
          class="btn btn-warning w-100"
          [disabled]="loginForm.invalid"
        >
          Đăng Nhập
        </button>
        <h6 class="mt-2">
          Bạn chưa có tài khoản chưa ?
          <a style="color: rgb(0, 42, 255)" routerLink="/register">Đăng ký</a>
        </h6>
      </form>
    </div>
  </div>
</div>
<app-footer />
