<!-- login.component.html -->
<app-header />
<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 400px">
    <div class="card-body">
      <h3 class="card-title text-center mb-4">Đăng Nhập</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mật khẩu</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Đăng Nhập</button>
      </form>
    </div>
  </div>
</div>
<app-footer />
